<!DOCTYPE html>
<html>
<head>
    <title>CamScanner</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>CamScanner</h1>

<input type="file" id="fileInput" accept="image/*">

<br><br>

<button id="scanBtn">
    Scan
</button>

<hr>

<h3>Original</h3>

<div id="viewer">
    <img id="preview">
    <canvas id="overlay"></canvas>
</div>

<h3>Scanned</h3>

<img id="result">

<button id="downloadBtn" hidden>
    Download
</button>

<select id="format" hidden>
    <option value="jpg">JPEG</option>
    <option value="png">PNG</option>
    <option value="pdf">PDF</option>
</select>

<script src="/static/script.js"></script>

</body>
</html>